ShanghaiFilmCenters.WP8/Service References/FilmCenterService/FilmCenterService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://filmcenterservice.chinacloudsites.cn/FilmCenterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ShanghaiFilmCenters.Service" />
  <xs:element name="GetMovies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filmCenterCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="selectedDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoviesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ShanghaiFilmCenters.Service" minOccurs="0" name="GetMoviesResult" nillable="true" type="q1:ResponseOfArrayOfMovieInfoLOQBF9SM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFilmCenters">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFilmCentersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ShanghaiFilmCenters.Service" minOccurs="0" name="GetAllFilmCentersResult" nillable="true" type="q2:ResponseOfArrayOfFilmCenterLOQBF9SM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>